/* .actor-card img {
    max-height: 250px;
    border: 1px solid darkgray;
} */

#film-metadata,
#person-metadata {
    padding: 15px;
}

#film-metadata img.poster {
    max-height: 300px;
}

#person-metadata img.portrait {
    max-height: 250px;
}
