#flash-alerts.alert {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#film-metadata,
#person-metadata {
    padding: 15px;
}

#film-metadata img.poster {
    max-height: 300px;
}

#person-metadata img.portrait {
    max-height: 250px;
}

#scene-metadata textarea {
    width: 600px;
    height: 100px;
}

#character-metadata figure blockquote {
    margin: 0;
}

cite {
    font-style: unset;
}

img.poster {
    max-height: 400px;
}

img.tiny-poster {
    max-height: 250px;
}

img.portrait {
    max-width: 50%;
}

img.poster {
    max-width: 50%;
}

div.form-check.col-md-8 {
    padding-left: calc(var(--bs-gutter-x) * 2);
}
