{% extends "base.html" %}

{% block title %}- Edit Choices{% endblock %}

{% block content %}
{% if play %}
    <h2>Edit Choices for {{play.title}}</h2>
    <p><em><a href="/choices/add/{{play.shortname}}/">Add {{play.title}} choices</a></em></p>

{% endif %}    
{% if form %}
    {{ wtf.quick_form(form) }}
{% elif choices %}
<div class="choices-list">
    <ul>
        {% for choice in choices %}
            <li><a href="/choices/edit/{{choice.id}}/">{{choice.title}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}
