{% extends "base.html" %}

{% block title %}- All Choices{% endblock %}

{% block content %}
{% if play %}
    <h2>Choice List for {{play.title}}</h2>
    <p><em><a href="/choices/edit/{{play.shortname}}">Edit choices</a></em></p>
{% else %}    
    {{ wtf.quick_form(form) }}
{% endif %}

<div id="choices-metadata">

{% if choices != none and choices|length > 0 %}
    {% for choice in choices %}
    <div id="choice-metadata">
        <ul>
            <li>Title: {{choice['title']}}</li>
            <li>Description: {{choice['desc']}}</li>
            {% if choice["quotes"] %}
                <li>Quotes
                    <ul>
                        {% for quote in choice.quotes%}
                        <figure class="quote">
                            <blockquote>{{quote.text}}</blockquote>
                            <figcaption><cite><a href="/characters/{{quote.character.id}}">{{quote.character.name}}</a> (<em>{{quote.play.title}}</em> <a href="/scenes/{{quote.scene.id}}">({{quote.scene.act}}.{{quote.scene.scene}})</a>)</cite></figcaption>
                        </figure>
                        {% endfor %}
                    <ul>
                </li>
                    {% for quote in choice["quotes"] %}
                        {{quote.text}}
                    {% endfor %}
                </ul>
            {% endif %}
            {% if choice['scenes'] %}
                <li>Related Scenes: 
                <ul>
                {% for scene in choice['scenes'] %}
                    <li><a href="/scenes/{{scene.id}}">{{scene.act}}.{{scene.scene}}{% if scene.title %}: {{scene.title}}{% endif %}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if choice['characters'] %}
                <li>Related Characters: 
                    <ul>
                    {% for character in choice['characters'] %}
                        <li><a href="/scenes/{{character.id}}">{{character.name}}</a></li>
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% if choice['interpretations'] %}
            <li>Related Interpretations: 
                <ul>
                {% for interpretation in choice['interpretations'] %}
                    <li>{{interpretation.title}}</li>
                {% endfor %}
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endfor %}
{% endif %}
</div>


{% endblock %}
