{% extends "base.html" %}

{% block title %}- {{choice.title}}{% endblock %}

{% block content %}
<h2>{{choice.title or "Choice"}}</h2>
<p><em><a href="/choices/edit/{{choice.id}}">Edit choice</a></em><br/>
<em><a href="/interpretations/add/{{choice.id}}">Add interpretation</a></em></p>

<div id="choice-metadata">
    <ul>
        <li>ID: {{choice.id}}</li>
        <li>Play: <a href="/plays/{{choice.play.id}}">{{choice.play.title}}</a></li>
        <li>Title: {{choice.title}}</li>
        <li>Description: {{choice.desc}}</li>
        {% if choice['interpretations'] %}
            <li>Related Interpretations</li>
                <ul>
                    {% for interpretation in choice['interpretations'] %}
                        <li><a href="/interpretations/{{interpretation.id}}">{{interpretation.title}}</a></li>
                    {% endfor %}
                </ul>
            </ul>
        {% endif %}
        {% if choice['characters'] %}
        <li>Related Characters:
            <ul>
            {% for character in choice.characters%}
                <li><a href="/characters/{{character.id}}">{{character.name}}</a></li>
            {% endfor %}
            </ul>
        </li>
    {% endif %}
    </ul>
</div>

{% endblock %}
