{% extends "base.html" %}

{% block title %}- Home{% endblock %}

{% block content %}

<div>
    <h2>Account</h2>
    <ul>
        {% if current_user.is_authenticated %}
            <li><a href="/my-account">My Account</a></li>
            <li><a href="/logout">Log Out</a></li>
        {% else %}
            <li><a href="/login">Log In</a></li>
        {% endif %}
    </ul>
</div>
<div>
    <h2>Films</h2>
    <ul>
        <li><a href="/films">View Films</a></li>
        <li><a href="/add-film">Add Film (via MovieDB)</a></li>
    </ul>
</div>
<div>
    <h2>Scenes</h2>
    <ul>
        <li><a href="/scenes">View Scenes</a></li>
        <li><a href="/scenes/add">Add Scenes (via Folger)</a></li>
        <li><a href="/scenes/edit">Edit Scenes</a></li>

    </ul>
</div>
<div>
    <h2>Characters</h2>
    <ul>
        <li><a href="/characters">View Characters</a></li>
        <li><a href="/characters/add">Add Characters (via Folger)</a></li>
        <li><a href="/characters/edit">Edit Characters</a></li>
    </ul>
</div>
<div>
    <h2>Choices</h2>
    <ul>
        <li><a href="/choices/">View Choices</a></li>
        <li><a href="/choices/add">Add Choice</a></li>
        <li><a href="/choices/edit">Edit Choices</a></li>

    </ul>
</div>
<div>
    <h2>Interpretations</h2>
    <ul>
        <li><a href="/interpretations">View Interpretations</a></li>
        <li><a href="/interpretations/add">Add Interpretation</a></li>
        <li><a href="/interpretations/edit">Edit Interpretations</a></li>

    </ul>
</div>
{% endblock %}