{% extends "base.html" %}

{% block title %}- Plays{% endblock %}

{% block content %}

<ul>
    {% for play in plays %}
        <li><strong><a href="/plays/{{play.shortname}}">{{play.title}}</a></strong></li>
        <ul>
                <li><a href="/films/{{play.shortname}}">Film adaptations</a></li>
                <li><a href="/characters/{{play.shortname}}">Characters</a></li>
                <li><a href="/scenes/{{play.shortname}}">Scenes</a></li>
                <li><a href="/choices/{{play.shortname}}">Choices</a></li>
                <li><a href="/interpretations/{{play.shortname}}">Interpretations</li>
        </ul>
        <br />
    {% endfor %}
</ul>

{% endblock %}
