{% extends "base.html" %}

{% block title %}- All Scenes{% endblock %}

{% block content %}
<h2>Scene List for {{play.title}}</h2>

<div id="scenes-metadata">

{% for scene in scenes %}
<div id="scene-metadata">
    <ul>
        <li>Act: {{scene.act}} Scene: {{scene.scene}}</li>
        {% if scene.title %}
            <li>Title: {{scene.title}}<li>
        {% endif %}
        {% if scene.description %}
            <li>Description: {{scene.description}}</li>
        {% endif %}
    </ul>
</div>
{% endfor %}


{% endblock %}
