{% extends "base.html" %}

{% block title %}- Add Scenes{% endblock %}

{% block content %}
<h2>Add a List of Scenes</h2>

<form method="GET" action="/process-scenes">
    <label for="play_titles">Select a play:</label>
    <select name="play_titles" id="play_titles">
        {% for key, value in play_titles.items() %}
            {% if key == "Ham" %}
                <option selected value="{{ key }}">{{ value }}</option>
            {% else %}
                <option value="{{ key }}">{{ value }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <input type="submit" value="Submit">
</form>
{% endblock %}