{% extends "base.html" %}

{% block title %}- Verify Scenes{% endblock %}

{% block content %}
<h2>Verify Scene List for {{play.title}}</h2>

<div id="scenes-metadata">
    <form action="/add-scenes-to-db" method="post">
    <input type="hidden" id="play" name="play" value="{{play.title}}">

{% for scene in scenes.values() %}
<div id="scene-metadata">
    <ul>
        <li><label for "act-{{loop.index0}}">Act</label> 
            <input type="text" name="act-{{loop.index0}}" id="act-{{loop.index0}}" placeholder="{{scene['act']}}" value="{{scene['act']}}">
        <label for "scene-{{loop.index0}}">Scene</label> 
            <input type="text" name="scene-{{loop.index0}}" id="scene-{{loop.index0}}" placeholder="{{scene['scene']}}" value="{{scene['scene']}}">
        </li>
        <br />
        <label for "title-{{loop.index0}}">Title</label>
            <input type="text" name="title-{{loop.index0}}" id="title-{{loop.index0}}" placeholder="{{scene['title']}}" value="{{scene['title']}}">
        <br />
        <label for "description-{{loop.index0}}">descriptionription</label> 
            <textarea name="description-{{loop.index0}}" id="descriptionription-{{loop.index0}}" placeholder="{{scene['descriptionription']}}" value="{{scene['description']}}"></textarea>
        <br />
        </li>
    </ul>
    {% if loop.last %}
        <input type="hidden" id="scene_count" name="scene_count" value="{{loop.index0}}">
    {% endif %}
</div>
{% endfor %}

<input type="submit" value="Submit">
</form>

{% endblock %}
