{% extends "base.html" %}

{% block title %}- Verify Characters{% endblock %}

{% block content %}
<h2>Verify Character List</h2>

<div id="characters-metadata">
    <form action="/add-characters-to-db" method="post">

{% for character in characters %}
<div id="character-metadata">
    <ul>
        <li><label for "name">Name</label> 
            <input type="text" name="name-{{loop.index0}}" id="name-{{loop.index0}}" placeholder="{{character}}" value="{{character}}">
        <li><label for "gender">Canonical Gender</label>
            <select name="gender-{{loop.index0}}" id="gender-{{loop.index0}}">
                {% for key, value in genders.items() %}
                    {% if key == 2 %}
                        <option selected value="{{ key }}">{{ value }}</option>
                    {% else %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endif %}
                {% endfor %}
            </select></li>
    </ul>
    {% if loop.last %}
        <input type="hidden" id="character_count" name="character_count" value="{{loop.index0}}">
    {% endif %}
</div>
{% endfor %}

<input type="submit" value="Submit">
</form>

{% endblock %}
