{% extends "base.html" %}

{% block title %}- Verify Film{% endblock %}

{% block content %}
<h2>Verify Film Information</h2>

<div id="film-metadata">
    <form action="/add-film-to-db" method="post">
{% if details['poster_path'] %}
    <div><img class="poster" src="{{details['poster_path']}}" /></div>
{% else %}
    <p>[NO FILM POSTER AVAILABLE.]</p>
{% endif %}

<datalist id="parts">
    {% for name in character_names %}
        <option value="{{name}}"></option>
    {% endfor %}
</datalist>

<h3>{{details['title']}}</h3>
<ul>
    <li><label for "title">Film Title</label>
        <input type="text" name="title" id="title" placeholder="{{details['title']}}" value="{{details['title']}}" required></li>
    <li><label for "poster_path">Poster Path</label>
        <input type="text" name="poster_path" id="poster_path" value="{{details['poster_path']}}"></li>
    <li><label for "release_date">Release Date</label>
        <input type="date" name="release_date" id="release_date" placeholder="{{details['release_date'].strftime('%Y-%m-%d')}}" value="{{details['release_date'].strftime('%Y-%m-%d')}}" required></li>
    <li><label for "language">Language</label>
        <input type="text" name="language" id="language" placeholder="{{details['language']}}" value="{{details['language']}}" required></li>
    <li><label for "length">Length in minutes</label>
        <input type="text" name="length" id="length" placeholder="{{details['length']}}" value="{{details['length']}}" required></li>
    <li><label for "film_moviedb_id"><a href="https://www.themoviedb.org/movie/{{details['film_moviedb_id']}}">MovieDB ID</a></label>
        <input type="text" name="film_moviedb_id" id="film_moviedb_id" placeholder="{{details['film_moviedb_id']}}" value="{{details['film_moviedb_id']}}" required></li>
    <li><label for "film_imdb_id"><a href="https://www.imdb.com/title/{{details['film_imdb_id']}}">IMDB ID</a></label>
        <input type="text" name="film_imdb_id" id="film_imdb_id" placeholder="{{details['film_imdb_id']}}" value="{{details['film_imdb_id']}}" required></li>
</ul>
</div>

{% for person in cast %}
<div id="person-metadata">
    {% if cast[person]['photo_path'] %}
        <img class="portrait" src="{{cast[person]['photo_path']}}" /><br/>
    {% else %}
        <p>[NO PROFILE IMAGE AVAILABLE.]</p>
    {% endif %}

    <h3>{{cast[person]['full_name']|join(' ')}}</h3>
    <ul>
        <li><label for "fname-{{loop.index0}}">Full Name</label> 
            <input type="text" name="fname-{{loop.index0}}" id="fname-{{loop.index0}}" placeholder="{{cast[person]['fname']}}" value="{{cast[person]['fname']}}">
            <label for "lname-{{loop.index0}}">Last Name</label> 
            <input type="text" name="lname-{{loop.index0}}" id="lname-{{loop.index0}}" placeholder="{{cast[person]['lname']}}" value="{{cast[person]['lname']}}">
        <li><label for "photo_path-{{loop.index0}}">Photo Path</label>
            <input type="text" name="photo_path-{{loop.index0}}" id="photo_path-{{loop.index0}}" placeholder="{{cast[person]['photo_path']}}" value="{{cast[person]['photo_path']}}"></li>
        <li><label for "birthday-{{loop.index0}}">Birthday</label>
            <input type="date" name="birthday-{{loop.index0}}" id="birthday-{{loop.index0}}" {% if cast[person]['birthday'] %} placeholder="{{cast[person]['birthday'].strftime('%Y-%m-%d')}}" value="{{cast[person]['birthday'].strftime('%Y-%m-%d')}}" {% endif %}></li>
        <li><label for "gender-{{loop.index0}}">Gender</label>
            <select name="gender-{{loop.index0}}" id="gender-{{loop.index0}}">
                {% for key, value in genders.items() %}
                    {% if key == cast[person]['gender'] %}
                        <option selected value="{{ key }}">{{ value }}</option>
                    {% else %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        <li><label for "person_moviedb_id-{{loop.index0}}"><a href="https://www.themoviedb.org/person/{{cast[person]['person_moviedb_id']}}">MovieDB ID</a></label>
            <input type="text" name="person_moviedb_id-{{loop.index0}}" id="person_moviedb_id-{{loop.index0}}" placeholder="{{cast[person]['person_moviedb_id']}}" value="{{cast[person]['person_moviedb_id']}}" required></li>
        <li><label for "person_imdb_id-{{loop.index0}}"><a href="https://www.imdb.com/name/{{cast[person]['person_imdb_id']}}">IMDB ID</a></label>
            <input type="text" name="person_imdb_id-{{loop.index0}}" id="person_imdb_id-{{loop.index0}}" placeholder="{{cast[person]['person_imdb_id']}}" value="{{cast[person]['person_imdb_id']}}" required></li>
        </li>
        {% set parent_loop = loop %}
        {% for part in cast[person]["parts_played"] %}
        <li><label for "part-{{loop.index0}}">Part</label>
            {% if part in character_names %}
                <input type="search" list="parts" name="part-{{parent_loop.index0}}-{{loop.index0}}" id="part-{{parent_loop.index0}}-{{loop.index0}}" placeholder="{{part}} "value="{{part}}">    
            {% else %} 
                <input type="search" list="parts" name="part-{{parent_loop.index0}}-{{loop.index0}}" id="part-{{parent_loop.index0}}-{{loop.index0}}" placeholder="{{part}}">                     
            {% endif %}
            {% if loop.last %}
                <input type="hidden" id="part_count-{{parent_loop.index0}}" name="part_count-{{parent_loop.index0}}" value="{{loop.index0}}">
            {% endif %}
        {% endfor %}
    </ul>
    {% if loop.last %}
        <input type="hidden" id="person_count" name="person_count" value="{{loop.index0}}">
    {% endif %}
</div>
{% endfor %}

<input type="submit" value="Submit">
</form>


{% endblock %}