{% extends "base.html" %}

{% block page_content %}
    <div>
        <h2><a href="https://www.folgerdigitaltexts.org/api">The Folger Shakespeare API</a></h3>
        <p class="lead">Play titles, character names, scene numbers, and scene synopses are all courtesy of the Folger Shakespeare API.</p>
        <p class="lead">A special thank you to the Folger API team for adding the scene numbers and synopses for me!</p>
    </div>
    <div>
        <h2><a href="https://developers.themoviedb.org/3">The Movie Database API</a></h3>
        <p class="lead">All film and cast/crew information, including movie posters and cast/crew photos, is courtesy of the Movie Database API.</p>
    </div>
    <div>
        <h2>Other Thanks</h2>
        <div>
            <p class="h5"><a href="https://hackbrightacademy.com/">Hackbright Academy</a></p>
            <p>This website was created as the capstone project for Hackbright's Software Engineering Fellowship program and would not have been possible without the tools I learned there.</p>
        </div>
        <div>
            <p class="h5"><a href="https://blog.miguelgrinberg.com/">Miguel Grinberg</a></p>
            <p>Miguel Grinberg has created of the best Python and Flask tutorials out there, and this site would be significantly poorer without his generous contributions to the community.</p>
            <ul>
                <li><a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">The Flask Mega-Tutorial (Online)</a></li>
                <li><a href="https://www.oreilly.com/library/view/flask-web-development/9781491991725/">
                Flask Web Development, 2nd Edition (Book)</a></li>
        </div>
    </div>
{% endblock %}