{% extends "base.html" %}

{% block page_content %}
    {% if current_user.is_admin() and character %}
        <p><em><a href="/characters/edit/{{character.id}}/">Edit Character</a></em></p>
    {% endif %}

    <div id="character-metadata">
        <ul>
            {% if character.img %}
                <img class="small-portrait" src="{{ character.img }}" alt="{{ character.name }}">
            {% endif %}
            <li>ID: {{character.id}}</li>
            <li>Name: {{character.name}}</li>
            <li>Canonical Gender:
                {% if character.gender|int == 2 %}Male
                {% elif character["gender"]|int == 1 %}Female
                {% else %}Unknown or N/A
                {% endif %}
            </li>
            {% if character["questions"] %}
                <li>Related Questions: 
                    <ul>
                    {% for question in character["questions"] %}
                        <li>{{ macros.as_link(question) }}</li>
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% if character["quotes"] %}
                <li>Related Quotes:
                    <ul>
                    {% for quote in character.quotes%}
                        {{ macros.format_quote(quote) }}
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% if character.played_by %}
                <li>Played By:
                    <ul>
                    {% for part in character.character_actors %}
                        <li>{{ macros.as_link(part.person) }} - {{ macros.as_link(part.film) }}</li>
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>

{% endblock %}
