{% extends "base.html" %}

{% block page_content %}
    {% if character %}
        <p><em><a href="/plays/{{character.play.id}}/">Back to {{ macros.as_link(character.play) }}</em>
        {% if current_user.is_admin() %}
            <br/><em><a href="/characters/edit/{{character.id}}/">Edit Character</a></em>
        {% endif %}
        </p>
    {% endif %}

    <div id="character-metadata">
        <ul>
            {% if character.img %}
                <img class="small-portrait" src="{{ character.img }}" alt="{{ character.name }}">
            {% endif %}
            <li>ID: {{character.id}}</li>
            <li>Name: {{character.name}}</li>
            <li>Canonical Gender:
                {% if character.gender|int == 2 %}Male
                {% elif character["gender"]|int == 1 %}Female
                {% else %}Unknown or N/A
                {% endif %}
            </li>
            {% if character.questions.all() %}
                <li>Related Questions: 
                    <ul>
                    {% for question in character.questions.all() %}
                        <li>{{ macros.as_link(question) }}</li>
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% if character.quotes.all() %}
                <li>Related Quotes:
                    <ul>
                    {% for quote in character.quotes.all() %}
                        {{ macros.format_quote(quote) }}
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}
            <div class="container">
        <div id="people-deck" class="row row-cols-1 row-cols-md-2 g-4">
            {% for person in people %}
                <div class="card" style="width: 18rem;">
                    <a href="/characters/{{ person.id }}">
                        {% if person.photo_path == "None" %}
                            <div id="placeholder">
                                <img class="card-img-top" src="/static/assets/person-placeholder.jpg" alt="{{ person.fname }} {{ person.lname }}">
                            </div>
                        {% else %}
                        <img class="card-img-top" src="{{ person.photo_path }}" alt="{{ person.fname }} {{ person.lname }}">
                        
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ macros.as_link(person) }}</h5>
                        <ul class="list-group list-group-flush">
                            {% for character in person.character_actors %}
                                <li class="list-group-item">{{ macros.as_link(character.character) }} in {{ macros.as_link(character.film) }}</li>
                            {% endfor %}
                            {% for job in person.person_jobs %}
                                {% if job.job.title != "Actor" %}
                                    <li class="list-group-item">{{ macros.as_link(job.job) }} - {{ macros.as_link(job.film) }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>  
            {% endfor %}
        </div>
    </div>
            {% if character.played_by.all() %}
            <h3>Played By</h3>
            <div class="container">
                <div id="cast-deck" class="row row-cols-1 row-cols-md-2 g-4">
                    {% for character_actor in character.character_actors %}
                    {% set person = character_actor.person %}
                    {% if person.birthday %}
                        {% set age = character_actor.age_during_film() %}
                    {% endif %}
                        <div class="card" style="width: 14rem;">
                            <a href="/characters/{{ person.id }}">
                                {% if person.photo_path == "None" %}
                                    <div id="placeholder">
                                        <img class="card-img-top" src="/static/assets/person-placeholder.jpg" alt="{{ person.fname }} {{ person.lname }}">
                                    </div>
                                {% else %}
                                <img class="card-img-top" src="{{ person.photo_path }}" alt="{{ person.fname }} {{ person.lname }}">
                                
                                {% endif %}
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ macros.as_link(person) }}</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{ macros.as_link(character) }} in {{ macros.as_link(character_actor.film) }}</li>
                                {% if age %}    
                                    <li class="list-group-item">Age during film: {{ age }}</li>
                                {% endif %}
                                </ul>
                            </div>
                        </div>  
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </ul>
    </div>

{% endblock %}
