{% extends "base.html" %}

{% block page_content %}
    {% if play %}
        Back to <em>{{ macros.as_link(play) }}</em>
        {% if current_user.is_admin() %}
            <p><em><a href="/characters/edit/{{play.shortname}}/">Edit characters</a></em></p>
        {% endif %}
    {% endif %}
    {% if form %}    
        {{ render_form(form) }}
    {% endif %}

    {% if characters %}
        <div id="characters-metadata">

        {% for character in characters %}
        <div id="character-metadata">
            <ul>
                <li>ID: {{character.id}}</li>
                <li>Name: {{ macros.as_link(character) }}</li>
                <li>Canonical Gender:
                    {% if character.gender|int == 2 %}Male
                    {% elif character['gender']|int == 1 %}Female
                    {% else %}Unknown or N/A
                    {% endif %}
                </li>
                {% if character['questions'] %}
                <li>Related Questions: 
                    <ul>
                    {% for question in character['questions'] %}
                        <li>{{ macros.as_link(question) }}</li>
                    {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% if character["quotes"] %}
                    <li>Quotes:
                        <ul>
                        {% for quote in character.quotes%}
                            {{ macros.format_quote(quote) }}
                        {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                
            </ul>
        </div>
        {% endfor %}
    {% endif %}

{% endblock %}
