{% extends "base.html" %}

{% block page_content %}
    {% if play %}
        <em> Back to {{ macros.as_link(play) }}</em>
    {% endif %}
    {% if play and current_user.is_admin() %}
        <p><em><a href="/interpretations/add/{{play.shortname}}">Add {{play.title}} interpretations</a></em></p>
    {% endif %}    
    {% if form %}
        {{ render_form(form) }}
    {% elif interpretations %}
    <div class="interpretations-list">
        <ul>
            {% for interpretation in interpretations %}
                <li><a href="/interpretations/{{interpretation.id}}">{{interpretation.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
