{% extends "base.html" %}

{% block page_content %}
    {% if play %}
        <em>Back to {{ macros.as_link(play) }}</em>
        {% if current_user.is_admin() %}
            <p><em><a href="/interpretations/edit/{{play.shortname}}">Edit interpretations</a></em></br>
            <em><a href="/interpretations/add/{{play.shortname}}">Add interpretations</a></em></p>
        {% endif %}
    {% endif %}
    {% if form %}  
        {{ render_form(form) }}
    {% endif %}

    <div id="interpretations-metadata">

    {% if interpretations %}
        {% for interpretation in interpretations %}
        <div id="interpretation-metadata">
            <ul>
                <li>Title: {{ macros.just_link(interpretation) }}</li>
                <li>Description: {{ interpretation.description }}</li>
                <li>Question: {{ macros.as_link(interpretation.question) }}</li>
                {% if interpretation.quotes %}
                    <li>Quotes
                        <ul>
                            {% for quote in interpretation.quotes%}
                                {{ macros.format_quote(quote) }}
                            {% endfor %}
                        <ul>
                    </li>
                {% endif %}
                {% if interpretation.scenes %}
                    <li>Related Scenes: 
                    <ul>
                    {% for scene in interpretation.scenes %}
                        <li>{{ macros.as_link(scene) }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if interpretation.characters %}
                    <li>Related Characters: 
                        <ul>
                        {% for character in interpretation.characters %}
                            <li>{{ macros.as_link(character) }}</li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
