{% extends "base.html" %}

{% block page_content %}
    {% if current_user.is_admin() %}
        <p><em><a href="/interpretations/edit/{{interpretation.id}}">Edit Interpretation</a></em></p>
    {% endif %}
    <div id="interpretation-metadata">
        <ul>
            <li>ID: {{ interpretation.id }}</li>
            <li>Play: {{ macros.as_link(interpretation.play) }}</li>
            <li>Film: {{ macros.as_link(interpretation.film) }}</li>
            <li>Question: {{ macros.as_link(interpretation.question) }}</li>
            <li>Title: {{interpretation.title}}</li>
            <li>Description: {{interpretation.description}}</li>
            {% if interpretation['characters'] %}
            <li>Related Characters:
                <ul>
                {% for character in interpretation.characters%}
                    <li>{{ macros.as_link(character) }}</li>
                {% endfor %}
                </ul>
            </li>
        {% endif %}
        </ul>
    </div>
{% endblock %}
