{% macro as_link(object) -%}
    {% set type = object.__tablename__ %}
    
    <a href="/{{ type }}/{{ object.id }}">{% if type == "films" %}{{ object.title }} ({{ object.release_date.year }}){% elif type == "scenes" %}Act {{ object.act }}, Scene {{ object.scene }}{% elif type == "people" %}{{ object.fname }} {{ object.lname }}{% elif object.name %}{{ object.name }}{% elif object.title %}{{ object.title }}{% endif %}</a>

    {% if object.description %}
          <p>{{ object.description }}</p>
    {% endif %}
{%- endmacro %}

{% macro just_link(object) -%}
    {% set type = object.__tablename__ %}
    
    <a href="/{{ type }}/{{ object.id }}">{% if type == "films" %}{{ object.title }} ({{ object.release_date.year }}){% elif type == "scenes" %}Act {{ object.act }}, Scene {{ object.scene }}{% elif type == "people" %}{{ object.fname }} {{ object.lname }}{% elif object.name %}{{ object.name }}{% elif object.title %}{{ object.title }}{% endif %}</a>
{%- endmacro %}

{% macro as_url(object) -%}
    {% set type = object.__tablename__ %}
    /{{ type }}/{{ object.id }}
{%- endmacro %}

{% macro as_title(object) -%}
    {% if type == "films" %}{{ object.title }} ({{ object.release_date.year }}){% elif type == "scenes" %}Act {{ object.act }}, Scene {{ object.scene }}{% elif type == "people" %}{{ object.fname }} {{ object.lname }}{% elif object.name %}{{ object.name }}{% elif object.title %}{{ object.title }}{% endif %}
{%- endmacro %}

{% macro as_image(object) -%}
    {% set type = object.__tablename__ %}
    {% if type == "films" %}{% set source = "poster_path" %}
    {% elif type == "people" %}{% set source = "photo_path" %}
    {% else %}{% set source = "img" %}
    {% endif %}

    {% if object[source] != None %}
        <a href="/{{ type }}/{{ object.id }}"><img src="{{ object[source] }}" alt="{{ as_title(object) }}"></a>
    {% endif %}
{%- endmacro %}

{% macro as_image_url(object) -%}
    {% set type = object.__tablename__ %}
    {% if type == "films" %}{% set source = "poster_path" %}
    {% elif type == "people" %}{% set source = "photo_path" %}
    {% else %}{% set source = "img" %}
    {% endif %}{% if object[source] != None %}{{ object[source] }}{% endif %}
{%- endmacro %}


{% macro format_quote(quote) -%}
    <figure class="quote">
        <blockquote>{{ quote.text }}</blockquote>
        <figcaption><cite>{{ macros.as_link(quote.character) }} (<em>{{ macros.as_link(quote.play) }}</em>
            {{ macros.as_link(quote.scene) }})</cite></figcaption>
    </figure>
{%- endmacro %}


{% macro format_date(date) -%}
    {% set months  =  ({1: "January", 2: "February", 3: "March", 4: "April", 5: "May", 6: "June", 7: "July",
    8: "August", 9: "September", 10: "October", 11: "November", 12: "December"}) %}
    {{ months[date.month] }} {{ date.day }}, {{ date.year }}
{%- endmacro %}


{% macro as_language(shortname) -%}
    {% set languages  =  ({"en": "English"}) %}
    {% if shortname in languages %}{{ languages[shortname] }}{% else %}{{ shortname }}{% endif %}
{%- endmacro %}

{% macro flag_icon(flag) -%}
    {% if flag == "danger" %}
        <button type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-html="true" title="Problematic age difference"><i class="bi bi-exclamation-triangle-fill"></i></button>
    {% elif flag == "warning" %}
        <button type="button" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-html="true" title="Doubtful age difference"><i class="bi bi-exclamation-circle-fill"></i></button>
    {% elif flag == "success" %}
        <button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-html="true" title="Healthy age difference"><i class="bi bi-check-circle-fill"></i></button>
    {% endif %}
{%- endmacro %}