{% macro as_link(object) -%}
    {% set type = object.__tablename__ %}
    
    <a href="/{{ type }}/{{ object.id }}">{% if type == "films" %}{{ object.title }} ({{ object.release_date.year }}){% elif type == "scenes" %}Act {{ object.act }}, Scene {{ object.scene }}{% elif type == "people" %}{{ object.fname }} {{ object.lname }}{% elif object.name %}{{ object.name }}{% elif object.title %}{{ object.title }}{% endif %}</a>

    {% if object.description %}
          {{ object.description }}
    {% endif %}
{%- endmacro %}


{% macro format_quote(quote) -%}
<figure class="quote">
    <blockquote>{{ quote.text }}</blockquote>
    <figcaption><cite>{{ macros.as_link(quote.character) }} (<em>{{ macros.as_link(quote.play) }}</em>
        {{ macros.as_link(quote.scene) }})</cite></figcaption>
</figure>
{%- endmacro %}