<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Motive and Cue</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" id="nav-index" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
                </li>
                {% if current_user.is_admin() %}
                    <li class="nav-item">
                        <a class="nav-link" id="nav-admin" aria-current="page" href="{{ url_for('main.admin_index') }}">Admin</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        About
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('main.about') }}">About the Site</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('main.acknowledgments') }}">Acknowledgments</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('main.contact') }}">Contact</a></li>
                    </ul>
                </li>
                
            </ul>
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('main.profile', username=current_user.username) }}">My Profile</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('auth.account_page') }}">Account Details</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}
                <form class="d-flex" method="get" action="/search">
                    {{ g.search_form.query(size=20, class='form-control',
                        placeholder=g.search_form.query.label.text) }}
                    <button id="search-button" class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </ul>
        </div>
    </div>
</nav>