{% extends "base.html" %}

{% block page_content %}
    <p><a href="/people/">View All People</a></p>
    <div id="person-metadata">
        <div>
            {% if person.photo_path == "None" %}
                    <img class="portrait" src="/static/assets/person-placeholder.jpg" alt="Placeholder image">
            {% else %}
                <img src="{{ person.photo_path }}" alt="{{ person.fname }} {{ person.lname }} portrait" class="portrait">
            {% endif %}
        </div>
        {% if person.parts %}
            <div>
                <h2>Parts</h2>
                <ul>
                {% for part in person.character_actors %}
                    <li>{{ macros.as_link(part.character) }} in {{ macros.as_link(part.film) }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if person.jobs %}
        <div>
            <h2>Jobs</h2>
            <ul>
            {% for job in person.person_jobs %}
                <li>{{ macros.as_link(job.job) }} in {{ macros.as_link(job.film) }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if person.films %}
            <div>
                <h2>Films</h2>
                <ul>
                {% for film in person.films %}
                    <li>{{ macros.as_link(film) }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
{% endblock %}
