{% extends "base.html" %}

{% block page_content %}
    {% if play and current_user.is_admin() %}
        <p><em><a href="/questions/edit/{{play.shortname}}/">Edit questions</a></em></p>
    {% else %}    
        {{ render_form(form) }}
    {% endif %}

    <div id="questions-metadata">

    {% if questions != none and questions|length > 0 %}
        {% for question in questions %}
        <div id="question-metadata">
            <ul>
                <li>Title: <a href="/questions/edit/{{question.id}}/">{{question['title']}}</a></li>
                <li>Description: {{question['desc']}}</li>
                {% if question["quotes"] %}
                    <li>Quotes
                        <ul>
                            {% for quote in question.quotes%}
                            <figure class="quote">
                                <blockquote>{{quote.text}}</blockquote>
                                <figcaption><cite><a href="/characters/{{quote.character.id}}/">{{quote.character.name}}</a> (<em>{{quote.play.title}}</em> <a href="/scenes/{{quote.scene.id}}">({{quote.scene.act}}.{{quote.scene.scene}})</a>)</cite></figcaption>
                            </figure>
                            {% endfor %}
                        <ul>
                    </li>
                {% endif %}
                {% if question['scenes'] %}
                    <li>Related Scenes: 
                    <ul>
                    {% for scene in question['scenes'] %}
                        <li><a href="/scenes/{{scene.id}}/">{{scene.act}}.{{scene.scene}}{% if scene.title %}: {{scene.title}}{% endif %}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if question['characters'] %}
                    <li>Related Characters: 
                        <ul>
                        {% for character in question['characters'] %}
                            <li><a href="/characters/{{character.id}}/">{{character.name}}</a></li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                {% if question['interpretations'] %}
                <li>Related Interpretations: 
                    <ul>
                    {% for interpretation in question['interpretations'] %}
                        <li><a href="/interpretations/{{interpretation.id}}/">{{interpretation.title}}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
