{% extends "base.html" %}

{% block page_content %}
    {% if play %}
        <em>Back to {{ macros.as_link(play) }}</em>
        {% if play and current_user.is_admin() %}
            <p><em><a href="/questions/add/{{ play.shortname }}/">Add a  question</a></em><br />
            <em><a href="/questions/edit/{{ play.shortname }}/">Edit questions</a></em></p>
        {% endif %}
    {% endif %}
    {% if form %}   
        <div class="p-3">
            {{ render_form(form) }}
        </div>
    {% endif %}

    {% if questions %}
        <div>
            <div class="card p-3">
                <h2>Contents:</h2>
                <ul>
                    {% for question in questions %}
                        <li><a href="#{{ question.id }}">{{ question.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% for question in questions %}
            <div class="card" id="{{ question.id }}">
                <div class="card-body">
                    <div class="row p-1">
                        <div class="col">
                            <h3 class="text-center">{{ macros.just_link(question) }}</h3>
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col">
                            <p><span class="h6">Play:</span> {{ macros.just_link(question.play) }}</p>
                            <p class="card-text">{{ question.description }}</p>
                        </div>
                        <div class="col">
                            {% if question.scenes %}
                                    <p class="h6">Scenes:</p>
                                    <ul>
                                    {% for scene in question.scenes %}
                                        <li>{{ macros.just_link(scene) }}</li>
                                    {% endfor %}
                                    </ul>
                            {% endif %}
                            {% if question.characters %}
                                <p class="h6">Characters:</p>
                                <ul>
                                {% for character in question.characters %}
                                    <li>{{ macros.just_link(character) }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        {% if question.interpretations %}
                        <div class="col interpretation-scroll">
                            {% for interpretation in question.interpretations %}
                                <div class="card h-100" style="width: 18rem;">
                                    <div class="card-top">
                                        <a href="/interpretations/{{ interpretation.id }}"><img src="{{ interpretation.img }}" class="card-img-top" alt="{{ interpretation.title }}"></a>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">{{ macros.just_link(interpretation) }}</p>
                                        <p class="card-text">{{ interpretation.description }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
          {% endfor %}
    {% endif %}
{% endblock %}
