{% extends "base.html" %}

{% block page_content %}
    {% if play %}
        <em>Back to {{ macros.as_link(play) }}</em>
        {% if play and current_user.is_admin() %}
            <p><em><a href="/questions/edit/{{play.shortname}}/">Edit questions</a></em></p>
        {% endif %}
    {% endif %}
    {% if form %}    
        {{ render_form(form) }}
    {% endif %}

    <div id="questions-metadata">

    {% if questions != none and questions|length > 0 %}
        {% for question in questions %}
        <div id="question-metadata">
            <ul>
                <li>Title: {{ macros.as_link(question) }}</li>
                <li>Description: {{question['desc']}}</li>
                {% if question["quotes"] %}
                    <li>Quotes
                        <ul>
                            {% for quote in question.quotes%}
                                {{ macros.format_quote(quote) }}
                            {% endfor %}
                        <ul>
                    </li>
                {% endif %}
                {% if question['scenes'] %}
                    <li>Related Scenes: 
                    <ul>
                    {% for scene in question['scenes'] %}
                        <li>{{ macros.as_link(scene) }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if question['characters'] %}
                    <li>Related Characters: 
                        <ul>
                        {% for character in question['characters'] %}
                            {{ macros.as_link(character) }}</li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                {% if question['interpretations'] %}
                <li>Related Interpretations: 
                    <ul>
                    {% for interpretation in question['interpretations'] %}
                        <li>{{ macros.as_link(interpretation) }}</li>
                    {% endfor %}
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
