{% extends "base.html" %}

{% block page_content %}
    {% if play and current_user.is_admin() %}
        <p><em><a href="/questions/add/{{play.shortname}}/">Add {{play.title}} questions</a></em></p>
    {% endif %}

    {% if form %}
        {{ render_form(form) }}
    {% elif questions %}
    <div class="questions-list">
        <ul>
            {% for question in questions %}
                <li><a href="/questions/edit/{{question.id}}/">{{question.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
