{% extends "base.html" %}

{% block page_content %}

    {% if current_user.is_admin() %}
        <p><em><a href="/questions/edit/{{question.id}}">Edit question</a></em><br/>
        <em><a href="/interpretations/add/{{question.id}}">Add interpretation</a></em></p>
    {% endif %}

    <div id="question-metadata">
        {% if question.img %}
            <img class="small-portrait" src="{{ question.img }}" alt="{{ question.title }}">
        {% endif %}
        <ul>
            <li>ID: {{question.id}}</li>
            <li>Play: <a href="/plays/{{question.play.id}}/">{{question.play.title}}</a></li>
            <li>Title: {{question.title}}</li>
            <li>Description: {{question.description}}</li>
            {% if question['interpretations'] %}
                <li>Related Interpretations</li>
                    <ul>
                        {% for interpretation in question['interpretations'] %}
                            <li><a href="/interpretations/{{interpretation.id}}/">{{interpretation.title}}</a></li>
                        {% endfor %}
                    </ul>
                </ul>
            {% endif %}
            {% if question['characters'] %}
            <li>Related Characters:
                <ul>
                {% for character in question.characters%}
                    <li><a href="/characters/{{character.id}}/">{{character.name}}</a></li>
                {% endfor %}
                </ul>
            </li>
        {% endif %}
        </ul>
    </div>
{% endblock %}
