{% extends "base.html" %}

{% block page_content %}
    {% if current_user.is_admin() %}
        <p><em><a href="/scenes/edit/{{scene.id}}">Edit Scene</a></em></p>
    {% endif %}
    <div id="scene-metadata">
        {% if scene.img %}
            <img class="small-portrait" src="{{ scene.img }}" alt="{{ scene.title }}">
        {% endif %}
        <ul>
            <li>ID: {{scene.id}}</li>
            <li>Title: {{scene.title}}</li>
            <li>Description: {{scene.description}}</li>
            {% if scene['questions'] %}
            <li>Related Questions</li>
                <ul>
                    {% for question in scene['questions'] %}
                        <li>{{ macros.as_link(question) }}</li>
                    {% endfor %}
                </ul>
            </ul>
            {% endif %}
            {% if scene['quotes'] %}
                <li>Related Quotes:
                    <ul>
                    {% for quote in scene.quotes%}
                        {{ macros.format_quote(quote) }}
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
