{% extends "base.html" %}

{% block page_content %}
    {% if play and current_user.is_admin() %}
        <p><em><a href="/scenes/edit/{{play.shortname}}">Edit scenes</a></em></p>
    {% else %}    
        {{ render_form(form) }}
    {% endif %}

    {% if scenes %}
        <div id="scenes-metadata">
        {% for scene in scenes %}
            <div id="scene-metadata">
                <ul>
                    <li><a href="/scenes/{{scene.id}}">Act {{scene.act}}, Scene {{scene.scene}}</a></li>
                    {% if scene.title %}
                        <li>Title: {{scene.title}}</li>
                    {% endif %}
                    {% if scene.description %}
                        <li>Description: {{scene.description}}</li>
                    {% endif %}
                    {% if scene.choices %}
                        <li>Related Choices:
                            <ul>
                            {% for choice in scene.choices %}
                                <li><a href="/choices/{{choice.id}}">{{choice.title}}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}
